name: CI

on:
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Install kickflip
        run: dotnet tool install --global kickflip --version 1.1.4-alpha
        
      - name: Kickflip PR comment changes
        run: github pull-request --repo $GITHUB_REPOSITORY --ref $GITHUB_REF --token ${{ secrets.GITHUB_TOKEN }}
