name: CI

on:
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # avoid shallow clone so kickflip can do its work.
    
      - name: Install kickflip
        run: dotnet tool install --global kickflip --prerelease
        
      - name: Kickflip PR comment changes
        run: kickflip github pull-request --repo $GITHUB_REPOSITORY --ref $GITHUB_REF --token ${{ secrets.GITHUB_TOKEN }}
